.sgc-rating {
    display: inline-flex;
    gap: 4px;
    color: var(--sg-text-quaternary, #bfbfbf);
}

.sgc-rating-star {
    cursor: pointer;
    transition: all 0.3s;
    display: inline-flex;
    align-items: center;
}

.sgc-rating-star.sgc-active {
    color: var(--sg-warning, #fadb14);
}

.sgc-rating-disabled .sgc-rating-star,
.sgc-rating-readonly .sgc-rating-star {
    cursor: default;
}

.sgc-rating-disabled {
    opacity: 0.5;
}
