<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>K</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-8</integer>
      <key>N</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-8</integer>
      <key>W</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-8</integer>
      <key>Y</key>
      <integer>-8</integer>
      <key>Z</key>
      <integer>-8</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>K</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-8</integer>
      <key>N</key>
      <integer>-8</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
      <key>V</key>
      <integer>-8</integer>
      <key>W</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-8</integer>
      <key>Y</key>
      <integer>-8</integer>
      <key>Z</key>
      <integer>-8</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>K</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-8</integer>
      <key>N</key>
      <integer>-8</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
      <key>V</key>
      <integer>-8</integer>
      <key>W</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-8</integer>
      <key>Y</key>
      <integer>-8</integer>
      <key>Z</key>
      <integer>-8</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>C</key>
      <integer>-5</integer>
      <key>D</key>
      <integer>-5</integer>
      <key>G</key>
      <integer>-5</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>Q</key>
      <integer>-5</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>K</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-8</integer>
      <key>N</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-8</integer>
      <key>W</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-8</integer>
      <key>Y</key>
      <integer>-8</integer>
      <key>Z</key>
      <integer>-8</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-34</integer>
      <key>C</key>
      <integer>-13</integer>
      <key>D</key>
      <integer>-13</integer>
      <key>G</key>
      <integer>-13</integer>
      <key>H</key>
      <integer>-8</integer>
      <key>I</key>
      <integer>-8</integer>
      <key>J</key>
      <integer>-13</integer>
      <key>K</key>
      <integer>-34</integer>
      <key>L</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-34</integer>
      <key>N</key>
      <integer>-34</integer>
      <key>O</key>
      <integer>-13</integer>
      <key>Q</key>
      <integer>-13</integer>
      <key>S</key>
      <integer>-13</integer>
      <key>U</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-34</integer>
      <key>W</key>
      <integer>-34</integer>
      <key>X</key>
      <integer>-34</integer>
      <key>Y</key>
      <integer>-34</integer>
      <key>Z</key>
      <integer>-34</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>K</key>
      <integer>-8</integer>
      <key>M</key>
      <integer>-8</integer>
      <key>N</key>
      <integer>-8</integer>
      <key>V</key>
      <integer>-8</integer>
      <key>W</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-8</integer>
      <key>Y</key>
      <integer>-8</integer>
      <key>Z</key>
      <integer>-8</integer>
    </dict>
  </dict>
</plist>
