<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.diagonal</key>
    <array>
      <string>K</string>
      <string>X</string>
      <string>Z</string>
    </array>
    <key>public.kern1.open_left</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>S</string>
      <string>J</string>
    </array>
    <key>public.kern1.open_right</key>
    <array>
      <string>A</string>
      <string>F</string>
      <string>P</string>
      <string>T</string>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
    </array>
    <key>public.kern1.round</key>
    <array>
      <string>O</string>
      <string>Q</string>
      <string>D</string>
    </array>
    <key>public.kern1.vertical</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>U</string>
    </array>
    <key>public.kern2.diagonal</key>
    <array>
      <string>K</string>
      <string>X</string>
      <string>Z</string>
    </array>
    <key>public.kern2.open_left</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>S</string>
      <string>J</string>
    </array>
    <key>public.kern2.open_right</key>
    <array>
      <string>A</string>
      <string>F</string>
      <string>P</string>
      <string>T</string>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
    </array>
    <key>public.kern2.round</key>
    <array>
      <string>O</string>
      <string>Q</string>
      <string>D</string>
    </array>
    <key>public.kern2.vertical</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>U</string>
    </array>
  </dict>
</plist>
