.sgc-tag {
    display: inline-flex;
    align-items: center;
    height: 22px;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: var(--sg-bg-alt, #fafafa);
    border: 1px solid var(--sg-border, #d9d9d9);
    border-radius: 4px;
    cursor: default;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s, transform 0.3s;
}

.sgc-tag-close {
    margin-left: 4px;
    cursor: pointer;
    opacity: 0.5;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s, box-shadow 0.3s, transform 0.3s;
    display: inline-flex;
}

.sgc-tag-close:hover {
    opacity: 1;
}

.sgc-tag-success {
    color: #52c41a;
    background: #f6ffed;
    border-color: #b7eb8f;
}

.sgc-tag-processing {
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
}

.sgc-tag-error {
    color: #f5222d;
    background: #fff1f0;
    border-color: #ffa39e;
}

.sgc-tag-warning {
    color: #faad14;
    background: #fffbe6;
    border-color: #ffe58f;
}
